__pycache__

Data/prxUserMeta/MegaSRX/metadata/game/info.json
Data/prxUserMeta/MegaSRX/icon0.dds
Data/prxUserMeta/files_in_dir.dat
Data/prxUserMeta/pronunciation.xml
Data/Pref/pref.ini
output/Data
output/READ ME.txt

env
GUI
output

system icons test.py
Logs.txt

test.py
*.dds
*.png