__pycache__

Data/Pref/pref.ini

*.dds
*.png
Performance.txt
GAMES MADE CACHING SLOWER.txt

upload performance.log
Interface/New web-based UI.zip
verrsrc.h

Data/New web-based UI.zip
pass.json
Data/Cache/Icons/metadata/game/ignored.json
Data/Cache/Icons/metadata/system/ignored.json
Data/Cache/Icons/metadata/system apps/ignored.json
Data/Cache/Icons/metadata/system apps/system_apps.json

Data/Cache/Groups
Data/Cache
Logs.txt
output
dist
test
env
GUI
output
.vs
.vscode
*.zip
test.py
